
/* Page Layout */
.page {
  display: flex;
  align-items: stretch;
  /*min-height:800px;*/
  flex-grow: 1;
  flex-basis:0;
  height:1;
  /*flex-shrink: 1;*/
  zoom:;
  font-family: Roboto;
}
.page > .card {
  margin:10px;
}

.assembly-bar {
  /*min-width: 600px;*/
  text-align: center;
  position: relative;
  overflow: hidden;
}

.CodeMirror {
  border-radius:5px !important;
  border-style:solid !important;
  border-color: var(--divider);
  height: 350px !important;
}

pre {
  white-space: pre-wrap;
}

.processor-bar {
  width:400px;
  min-width: 400px;
  overflow:auto;
}

.flex {
  flex: 1;
}
.graph-canvas {
  height:680px;
  width:680px;
  display:inline-block;
}
.object {
  border-radius: 15px;
  border-style:solid;
  border-color: var(--theme-color);
  padding:10px;
  position: relative;
}
.btn-delete {
  position: absolute;
  top:10px;
  right:10px;
}

#my-math-box {
  width:800px;
  height:800px;
}

.mathInput {
/*  background-color: blue;
  border-style: solid;

  display: inline-block;
  padding: 15px;
  border-radius: var(--small-radius) !important;
  border-color: black !important;
  border-width: 2px !important;
  box-shadow: none !important;
  font-size: 25px;
  width:800px;
  margin:0px;
  box-sizing: border-box;*/
}

.dg.main.a {
  display: none;
}

.pal-container {
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom: 0px;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  padding-top: 110px;
}

.pal {
  background-color: white;
  display: inline-block;
  width: 600px;
  text-align: left;
  position: relative;
}

.pal-input {
  width: 100%;
  font-size: 18px;
  font-family: Roboto;
  padding: 10px;
}

.pal-actions {

}
.pal-action {
  cursor: pointer;
  font-family: Poppins;
  margin:10px;
  color:var(--theme-color);
  text-decoration: underline;
}
.pal-highlight {
  background-color: lightblue;
}

#my-math-box {
  /*width:100%;*/
  /*height:100%;*/
  position: absolute;
  top:0px;
  height:auto;
  width:auto;
  left: 0px;
  right:0px;
  bottom: 0px;
}

.mathbox-container {
    width:100%;
    height:100%;
    position:absolute;
}
.frozen {
    pointer-events:none;
}

table {
  font-family: Roboto;
  width:100%;
}

table, th, td {
  border-collapse: collapse;
  border-style: solid;
  border-color: var(--divider);
}

.stage {
  background-color: var(--divider);
}
