/* Modified CSS stylesheet for */
/* personal projects - JN */

.err {
  color:red;
}

.blocked {
  cursor: not-allowed;
  filter: grayscale(1);
}

.blocked * {
  pointer-events: none;
}

/* Page Layout */
.page {
  display: flex;
  align-items: stretch;
  /*min-height:800px;*/
  flex-grow: 1;
  flex-basis:0;
  height:1;
  /*flex-shrink: 1;*/
  zoom:;
  font-family: Roboto;
}
.page > .card {
  margin:10px;
}

.assembly-bar {
  /*min-width: 600px;*/
  text-align: center;
  position: relative;
  overflow: hidden;
}

.CodeMirror {
  border-radius:5px !important;
  border-style:solid !important;
  border-color: var(--divider);
  height: 350px !important;
}

pre {
  white-space: pre-wrap;
}

.processor {
  min-width: 500px;
}

.processor-bar {
  width:400px;
  min-width: 400px;
  overflow:auto;
}

.flex {
  flex: 1;
}

.frozen {
    pointer-events:none;
}

table {
  font-family: Roboto;
  width:100%;
}

table, th, td {
  border-collapse: collapse;
  border-style: solid;
  border-color: var(--divider);
}

.stage {
  background-color: var(--divider);
}
